<div class="row p-5 justify-content-center">
          <div class="col-10 p-4">
            <ul class ="d-flex flex-wrap"></ul>
              <div class="container text-center">
                <div class="row">
                <div class="azure"> Name: {{name}} </div>
                <div class="azure"> Price: {{price}} </div>
                <div class="azure"> Platform: {{platform}} </div>
                </div>
              </div>
          </div>
        </div>