<div class="row p-5 justify-content-center">
          <div class="col-10 p-4">
            <ul class ="d-flex flex-wrap"></ul>
              <div class="container text-center">
                <div class="row">
                <div> Name: {{games.name}} </div>
                <div> Price: {{games.price}} </div>
                <div> Platform: {{`$get_platform_name(games.platform)`}} </div>
                </div>
              </div>
          </div>
        </div>