* {
    color:black;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: azure;
}

label {
    color: azure
}

.hero-image {
    background-image:url("images/outrun.gif");
   min-height: 100vh;
   min-width: 1080px;
  overflow-y: auto;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  }

  #submit {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  #submit svg {
    display: none;
  }

  #submit.loading svg {
    display: block;
    animation: loading 1s infinite;
    margin-right: 5px;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


 