* {
    color: azure;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}
.hero-image {
    background-image:url("images/outrun.gif");
   min-height: 100%;
   min-width: 1080px;
   position: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  }
