
{{! A boilerplate dashboard layout is completed for you, feel free to modify and style to your liking }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gameprice Checker 2.0</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jass.css"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet"/>
    <!-- Press Start Font -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <!-- NES CSS -->
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <!-- JQuery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
  </head>

  <body>
  <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="#" id="logout-link">Logout</a></li>
      </ul>
    </nav>
    <header class="navbar">
    <h1><a href="/dashboard">{{users.username}}'s Dashboard</a></h1>
    </header>
    <div class="hero-image">
    <div class="hero-text">

    <main>

      {{{body}}}

    <form name="game" id="game" method="POST" action="/api/gameData" class="card-body justify-content-center">
    <div>
      <label class="azure" for="name">Game Name</label>
      <input type="text" id="name" name="name" value="name"/>
    </div>
     <div>
      <label class="azure" for="game-price-input">Price</label>
      <input type="text" id="game-price-input" />
    </div>
     <div>
      <label class="azure" for="game-platform-input">Platform</label>
      <input type="text" id="game-platform-input" />
    </div>
     <div>
      <label class="azure" for="game-url-input">URL</label>
      <input type="text" id="game-url-input" />
    </div>
    <button type="submit" class="nes-btn is-primary">Submit</button>
    </form>
</main>
  </body>

</html> 
{{! inline script to handle click of logout button }}
<script>
  window.addEventListener("load", () => {
  function sendData() {
    const XHR = new XMLHttpRequest();

    // Bind the FormData object and the form element
    const FD = new FormData(form);

    // Define what happens on successful data submission
    XHR.addEventListener("load", (event) => {
      alert(event.target.responseText);
    });

    // Define what happens in case of error
    XHR.addEventListener("error", (event) => {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("POST", "/api/gameData");

    // The data sent is what the user provided in the form
    XHR.send(FD);
  }

  // Get the form element
  const form = document.getElementById("game");

  // Add 'submit' event handler
  form.addEventListener("submit", (event) => {
    event.preventDefault();

    sendData();
  });
});
  const logout = async function() { const response = await
  fetch('/api/user/logout', {
     method: 'POST', 
     headers: { 'Content-Type':
  'application/json' }, 
  });
  if (response.ok) {
   document.location.replace('/'); 
   }
  else { 
    alert('Failed to log out'); 
    } 
    };
  document.querySelector('#logout-link').addEventListener('click', logout);
</script>

