
{{! A boilerplate main layout is completed for you, feel free to modify and style to your liking }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Price Checker 2.0</title>
    <base href="/">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jass.css"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet"/>
    <!-- Press Start Font -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <!-- NES CSS -->
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <!-- JQuery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="#" id="logout-link">Logout</a></li>
      </ul>
    </nav>

    <main>
      {{{body}}}
    </main>
    <section class="text-center text-white">
        <div class="text-center p-3 text-white fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">Created by
          <a class="btn btn-outline-info btn-floating m-1" id="red-btn" href="https://github.com/Hurtorc" target="_blank" role="button"><i class="fab fa-github"></i></a> Adam Latham 
          <a class="btn btn-outline-info btn-floating m-1" id="yellow-btn" href="https://github.com/galeg008" target="_blank" role="button"><i class="fab fa-github"></i></a> Giovanni Galeana 
          <a class="btn btn-outline-info btn-floating m-1" id="green-btn" href="https://github.com/NathanPhan96" target="_blank" role="button"><i class="fab fa-github"></i></a> Nathan Phan 
          <a class="btn btn-outline-info btn-floating m-1" id="red-btn" href="https://github.com/Chitosama" target="_blank" role="button"><i class="fab fa-github"></i></a> Jose Cuervo 
          <a class="btn btn-outline-info btn-floating m-1" id="red-btn" href="https://github.com/devNathanNguyen" target="_blank" role="button"><i class="fab fa-github"></i></a> Nathan Nguyen 
          <a class="btn btn-outline-info btn-floating m-1" id="red-btn" href="https://github.com/AViramontes" target="_blank" role="button"><i class="fab fa-github"></i></a> April Viramontes
        <!-- Copyright -->
      </section>
  </body>
</html>
{{! inline script to handle click of logout button }}
<script>
  const logout = async function() { const response = await
  fetch('/api/user/logout', { method: 'POST', headers: { 'Content-Type':
  'application/json' }, }); if (response.ok) { document.location.replace('/'); }
  else { alert('Failed to log out'); } };
  document.querySelector('#logout-link').addEventListener('click', logout);
</script>
