<div class="row p-5 justify-content-center">
          <div class="col-10 p-4">
            <ul class ="d-flex flex-wrap"></ul>
              <div class="container text-center">
                <div class="row">
                <div class="col">{{Game}}</div>
                <div class="col">{{Game}}</div>
                <div class="col">{{Game}}</div>
                <div class="col">{{Game}}</div>
              </div>
          </div>
        </div>