</head>
<div class="hero-image">
<div class=" container text-center d-flex flex-column">
  <h2 class="text-center azure">Login</h2>
  <form id="login-form" class="card-body">
    <div>
      <label class="azure" for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
  <div>
    <label class="azure" for="password-input-login" class="form-label">Password</label>
    <input type="password" id="password-input-login" />
  </div>
  <button type="submit">Login!</button>
  <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>
</div>
<script src="/js/login.js"></script>
